html {
  background: #ecf0f1;
  font-family: helvetica;
  color: #515b5f;
}

.header {
  text-align: center;
}

.lab-container {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 300px;
}

.svg-list {
  list-style-type: none;

  li {
    float:left;
    margin-right:10px;
    margin-left: 10px;
  }
}

.designable-image {
  &:hover {
    cursor: pointer;
  };
}

#drawing {
  height:600px;
  width: 600px;
  margin-left:auto;
  margin-right:auto;
  background: #fffbf7;
  border: 1px solid white;
}
